/* TODO: nav a space-around */

/* ADJUSTING PRESETS */
*{
  padding: 0;
  margin: 0;
}

.mainContent{
  padding-left: 10%;
  padding-right: 10%;
}

/* HEADER */

header {
  display: flex;
  position: sticky;
  top: 0;
  width: 100%;
}

nav{
  display: flex;
}

nav a{
  display: flex;
  text-decoration: none;
  padding-top: .5em;
  padding-bottom: .5em;
  padding-left: 1em;
  padding-right: 1em;
  border: solid #969696 .2em;
  background-color: #bfefff;
  color: black;
}

/* BOXES */
.boxes{
  display: flex;
  /* justify-content: center; */
  /* justify-content: space-around; */
}

.schnupper, .competitions, .ranking, .corona{
  border: solid black .2px;
  padding: .5em;
}

.boxes .images{
  border: solid black .2px;
  padding: .5em;
  background-color: #bfefff;
}
