/* FONT ADJUSTMENT */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

h1, h3 {
  font-family: "Noto Sans", sans-serif;
  padding-bottom: .2em;
}

p {
  font-family: "Noto Serif", serif;
  padding-bottom: 1.5em;
  text-align: justify;
}

a {
  font-family: "Noto Sans", sans-serif;
  text-decoration: none;
  color: black;
}

.ranking p{
  font-family: "Noto Sans", sans-serif;
  text-decoration: none;
  color: black;
}

li {
  font-family: "Noto Serif", serif;
}

ul {
  padding-bottom: 1.5em;
}

/* SLIDESHOW */
/* src slideshow: https://www.w3schools.com/howto/howto_js_slideshow.asp */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  /* position: relative; */
  margin: auto;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* ADJUSTING PRESETS */
*{
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

.mainContent{
  padding-left: 10%;
  padding-right: 10%;
}

/* HEADER */

header {
  display: flex;
  position: sticky;
  top: 0;
  flex-basis: 100%;
  margin-bottom: 1.5em;
}

nav{
  display: flex;
  flex-basis: 100%;
  justify-content: center;
  align-items: flex-start;
  background-color: #1A4447;
}

nav a{
  display: flex;
  text-decoration: none;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
  color: white;
}

/* #logo {
  width: 60px;
  height: auto;
} */

.infobtn, .homebtn, .trainingbtn, .photosbtn{
  display: flex;
}



/* BOXES */
.boxes{
  display: flex;
  flex-direction: column;
  padding-bottom: 1.5em;
  padding-top: 1.5em;
}

.schnupper, .competitions, .ranking, .corona{
  display: flex;
  border: solid black .2px;
  padding: .5em;
  align-items: center;
}

.boxes .images{
  border: solid black .2px;
  padding: .5em;
  background-color: #bfefff;
}

/* MAIN CONTENT */

.mainContent{
  margin-left: 10%;
  margin-right: 10%;
}

.content{
  padding-bottom: 2em;
}

.news{
  height: 100vh;
}

/* REMOVING BULLETS FROM UL */
ul {
  list-style: none;
  padding-left: 1em;
}

/* IMAGES */
.images, .slideshow {
  padding-bottom: 1.5em;
}

/* TRAINING FORM */
.registration{
  display: flex;
  flex-direction: column;
}

/* FOOTER */
footer {
  display: flex;
  position: sticky;
  top: 0;
  flex-direction: row;
  flex-basis: 100%;
  margin-bottom: 1.5em;
  justify-content: center;
  background-color: #1A4447;
  margin: 0;
}

footer h3, footer p{
  color: white;
  padding-bottom: 0;
}

footer h3{
  padding: .5em;
  padding-right: 1em;
  border-right: solid .1em white;
}

footer p{
  display: flex;
  padding-left: 1em;
  align-items: center;
}
