/* TODO: nav a space-around */

/* ADJUSTING PRESETS */
*{
  padding: 0;
  margin: 0;
}

.mainContent{
  padding-left: 10%;
  padding-right: 10%;
}

/* HEADER */

header {
  display: flex;
  position: sticky;
  top: 0;
  flex-basis: 100%;
}

nav{
  display: flex;
  flex-basis: 100%;
  justify-content: center;
  align-items: flex-start;
  background-color: #1A4447;
}

nav a{
  display: flex;
  text-decoration: none;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
  color: white;
}

.hid{
  display: none;
}

/* BOXES */
.boxes{
  display: flex;
}

.schnupper, .competitions, .ranking, .corona{
  border: solid black .2px;
  padding: .5em;
}

.boxes .images{
  border: solid black .2px;
  padding: .5em;
  background-color: #bfefff;
}

/* MAIN CONTENT */

.mainContent{
  margin-left: 10%;
  margin-right: 10%;
}

.content{
  height: 100vh;
}

.news{
  height: 100vh;
}

.slideshow{

}

.boxes{

}
